#explore-page-container {
    display: grid;
    grid-template-rows: 25% 1fr 10%;
    grid-template-columns: 15% 1fr 1fr;
    justify-content: space-between;
    animation: fadein 2000ms;
}

#explore-main-area {
    grid-row: 2 / 3;
    grid-column: 2 / 4;
    overflow: scroll;
    justify-self: stretch;
    margin: 20px;
}

.explore-sidebar {
    grid-row: 1 / 3;
    grid-column: 1 / 2;
    margin: 30px 10px;
}

.sidebar-group {
    padding: 0 1vmin 5vmin 1vmin;
}

.sidebar-subtitle {
    font-size: 130%;
    color: #4E4E56;
    margin-bottom: 2px;
}

.sidebar-item {
    padding: 4px 0;
    color: #9A9A9A;
}

.sidebar-group li {
    padding-bottom: 0.7vmin;
}

#explore-gallery {
    flex: 12;

    display: grid;
    justify-content: space-around;
    grid-template-columns: repeat(auto-fill, 100%);
    grid-template-rows: repeat(auto-fill, 250px);
    grid-gap: 2%;
    overflow: scroll;

    margin: 2vmin 0;
}

#explore-title-row {
    grid-row: 1 / 2;
    grid-column: 2 / 4;
}

#explore-title {
    font-size: 7vmin;
    text-align: right;
    margin-right: 10vmin;
    margin-top: 3vmin;
}

hr {
    margin: 5vmin 0 5vmin 70%;
}

.explore-gallery-element {
    overflow: scroll;
    border: 3px groove #9A9A9A;
    border-radius: 8px 8px;
    padding: 2vmin;
}

#explore-gallery-iris-1 {
    background-image: url("/static/images/iris.jpg");
    background-color: rgba(255, 255, 255, 0.7);
    background-blend-mode: lighten;
    background-size: cover;
}

.explore-gallery-element-title {
    text-align: center;
    font-size: 3vmin;
}

.explore-gallery-element-title:hover {
    cursor: pointer;
    text-decoration: underline;
}

.explore-gallery-element-date {
    display: inline-block;
    font-size: 1.5vmin;
    color: #4E4E56;
    margin: 0.5vmin 0 1.5vmin 0;
}

.share-icon {
    width: 4vmin;
    height: 4vmin;
    padding-right: 8vmin;
}

.share-icon:hover {
    width: 4.5vmin;
    height: 4.5vmin;
    padding-right: 7.5vmin;
}

.share-icon-padding {
    visibility: hidden;
    width: 0;
    height: 4.5vmin;
}

.explore-gallary-element-tags-list {
    display: flex;
    justify-content: space-between;
    margin: 2vmin 0 3vmin 0
}

.explore-gallary-element-tag {
    display: inline;
    font-size: 1.5vmin;
    font-style: italic;
    color: #999999;
}

#explore-menu-row {
    grid-row: 3 / 4;
    grid-column: 1 / 4;
    flex: 0 0 10%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #DA635D;
}

.explore-menu-item a {
    font-family: 'Oxygen', sans-serif;
    font-size: 5vmin;
    color: #DEDEDE;
}

.explore-menu-item a:hover {
    color: #FEFEFE;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}