#portfolio-page-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
}

#portfolio-title-row {
    animation: fadein 2000ms;
}

#portfolio-title {
    font-size: 10vmin;
    text-align: center;
    margin-top: 3vmin;
}

hr {
    margin: 5vmin 32vmin;
}

.portfolio-center-row {
    display: grid;
    grid-template-columns: 15% 1fr 10%;
    overflow: scroll;
}

#portfolio {
    flex: 12;

    display: grid;
    grid-template-columns: repeat(auto-fill, 45% 45%);
    grid-column-gap: 4vmin;
    grid-row-gap: 8vmin;
    margin: 2vmin 0;
    animation: fadein 2000ms;
}

.project-preview-box {
    display: grid;
    grid-row-gap: 4vmin;
    background-color: #F9FBFD;
    border: 1px solid #CDCDCD;
    border-radius: 2px 2px;
    padding: 1vmin;
}

.project-preview-title {
    text-align: center;
    font-size: 7vmin;
}

.project-preview-title:hover {
    cursor: pointer;
    text-decoration: underline;
}

#portfolio-menu-row {
    flex: 0 0 10%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #DA635D;
}

.portfolio-menu-item a {
    font-family: 'Oxygen', sans-serif;
    font-size: 5vmin;
    color: #DEDEDE;
}

.portfolio-menu-item a:hover {
    color: #FEFEFE;
}

.sidebar-group {
    padding: 0 1vmin 5vmin 1vmin;
}

.sidebar-subtitle {
    font-size: 130%;
    color: #4E4E56;
    margin-bottom: 2vmin;
}

.sidebar-item {
    color: #9A9A9A;
}

.sidebar-group li {
    padding-bottom: 0.5vmin;
}

.portfolio-sidebar {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}