<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Explore</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />
    <link rel="stylesheet" href="/static/css/plugins/prism.css"/>

    <link rel="stylesheet" href="/static/css/global.css"/>
    <link rel="stylesheet" href="/static/css/explore.css"/>
    <link rel="stylesheet" href="/static/css/expore-modal.css"/>

    <link href="https://fonts.googleapis.com/css?family=Quicksand|Oxygen" rel="stylesheet">
</head>
<body>

    <div id="explore-page-container" class="page-container">

        <div id="explore-title-row">
            <h2 id="explore-title" class="page_title">Explore</h2>
            <hr>
        </div>

        <div class="explore-sidebar" >
            <ul class="sidebar-group">
                <li class="sidebar-subtitle">Series</li>
                <li class="sidebar-item">Reinforcement Learning</li>
                <li class="sidebar-item">Classification</li>
                <li class="sidebar-item">Pytorch</li>
            </ul>
            <ul class="sidebar-group">
                <li class="sidebar-subtitle">Year</li>
                <li class="sidebar-item">2020</li>
                <li class="sidebar-item">2019</li>
                <li class="sidebar-item">2018</li>
            </ul>
        </div>

        <div id="explore-main-area">

            <div id="explore-gallery">
                {{ template "pytorch-classification-iris.html"}}
                {{ template "reactive-extensions-operators.html"}}

                {{ template "summary-pytorch-classification-iris.html"}}
                {{ template "summary-reactive-extensions-operators.html"}}

                {{ template "monte-carlo-blackjack.html"}}
                {{ template "summary-monte-carlo-blackjack.html"}}
            </div>
        </div>


        <div id="explore-menu-row" class="bottom-menu-row">
            <div id="explore-menu-home" class="explore-menu-item"><a href="/" class="menu-link">Home</a></div>
            <div id="explore-menu-explore" class="explore-menu-item"><a href="explore" class="menu-link">Explore</a></div>
            <div id="explore-menu-portfolio" class="explore-menu-item"><a href="portfolio" class="menu-link">Portfolio</a></div>
            <div id="explore-menu-contact" class="explore-menu-item"><a href="contact" class="menu-link">Contact</a></div>
            <div id="explore-menu-about" class="explore-menu-item"><a href="about" class="menu-link">About</a></div>
        </div>

    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
    <script src="/static/js/plugins/prism.js"></script>
    <script src="/static/js/plugins/prism-download-snippet-plugin.js"></script>
    <script src="/static/js/event-listeners.js"></script>
    <script src="/static/js/modal.js"></script>

</body>
</html>