<div id="explore-gallery-iris-1" class="explore-gallery-element">
    <a class="open-modal" href="#reactive-extensions-operators" rel="modal:open"><h4 class="explore-gallery-element-title">Basic Reactive Operators</h4></a>
    <p class="explore-gallery-element-date">22 October 2019</p>
    <div class="share-icon-row">
        <a href="https://github.com/ryanmccauley211/Oak"><img class="share-icon" src="/static/images/github-share.png"></a>
        <a href="https://github.com/ryanmccauley211/Oak"><img class="share-icon" src="/static/images/fb-share.png"></a>
        <a href="https://github.com/ryanmccauley211/Oak"><img class="share-icon" src="/static/images/twitter-share.png"></a>
        <a href="https://github.com/ryanmccauley211/Oak"><img class="share-icon" src="/static/images/more-share.png"></a>
        <a href="#"><img class="share-icon-padding" src="/static/images/more-share.png"></a> <!--Padding-->
    </div>
    <ul class="explore-gallary-element-tags-list">
        <li class="explore-gallary-element-tag">python</li>
        <li class="explore-gallary-element-tag">reactive extensions</li>
        <li class="explore-gallary-element-tag">RxPY</li>
        <li class="explore-gallary-element-tag">functional</li>
        <li class="explore-gallary-element-tag">reactive</li>
        <li class="explore-gallary-element-tag"></li> <!--Padding-->
    </ul>
    <p class="explore-gallery-element-summary">
        <b>Reactive extensions</b> is an implementation of reactive development that offers a range of useful
        operators for manipulating data travelling through streams and for managing the streams themselves.
        Here we discuss the powerful tools reactive extensions offer, focusing on the most basic out of the box
        operators.
    </p>
</div>