<div id="explore-gallery-iris-1" class="explore-gallery-element">
    <a class="open-modal" href="#explore-pytorch-classification-iris-1" rel="modal:open"><h4 class="explore-gallery-element-title">Basic Classification with Pytorch</h4></a>
    <p class="explore-gallery-element-date">5th May 2019</p>
    <div class="share-icon-row">
        <a href="https://github.com/ryanmccauley211/Oak"><img class="share-icon" src="/static/images/github-share.png"></a>
        <a href="https://github.com/ryanmccauley211/Oak"><img class="share-icon" src="/static/images/fb-share.png"></a>
        <a href="https://github.com/ryanmccauley211/Oak"><img class="share-icon" src="/static/images/twitter-share.png"></a>
        <a href="https://github.com/ryanmccauley211/Oak"><img class="share-icon" src="/static/images/more-share.png"></a>
        <a href="#"><img class="share-icon-padding" src="/static/images/more-share.png"></a> <!--Padding-->
    </div>
    <ul class="explore-gallary-element-tags-list">
        <li class="explore-gallary-element-tag">pytorch</li>
        <li class="explore-gallary-element-tag">neural network</li>
        <li class="explore-gallary-element-tag">classification</li>
        <li class="explore-gallary-element-tag">python</li>
        <li class="explore-gallary-element-tag"></li> <!--Padding-->
    </ul>
    <p class="explore-gallery-element-summary">
        Basic classification using pytorch with the very simple iris dataset. We will introduce some of the <br>
        common libraries and go in some amount of depth for beginners.
    </p>
</div>