<div id="explore-gallery-monte-carlo-blackjack" class="explore-gallery-element">
    <a class="open-modal" href="#explore-monte-carlo-blackjack" rel="modal:open"><h4 class="explore-gallery-element-title">Blackjack with Monte Carlo Learning</h4></a>
    <p class="explore-gallery-element-date">5th May 2019</p>
    <div class="share-icon-row">
        <a href="https://github.com/ryanmccauley211/Blackjack_Q_Agent"><img class="share-icon" src="/static/images/github-share.png"></a>
        <a href="https://github.com/ryanmccauley211/Blackjack_Q_Agent"><img class="share-icon" src="/static/images/fb-share.png"></a>
        <a href="https://github.com/ryanmccauley211/Blackjack_Q_Agent"><img class="share-icon" src="/static/images/twitter-share.png"></a>
        <a href="https://github.com/ryanmccauley211/Blackjack_Q_Agent"><img class="share-icon" src="/static/images/more-share.png"></a>
        <a href="#"><img class="share-icon-padding" src="/static/images/more-share.png"></a> <!--Padding-->
    </div>
    <ul class="explore-gallary-element-tags-list">
        <li class="explore-gallary-element-tag">monte carlo</li>
        <li class="explore-gallary-element-tag">blackjack</li>
        <li class="explore-gallary-element-tag">reinforcement learning</li>
        <li class="explore-gallary-element-tag">python</li>
        <li class="explore-gallary-element-tag">numpy</li>
        <li class="explore-gallary-element-tag"></li> <!--Padding-->
    </ul>
    <p class="explore-gallery-element-summary">
        Monte carlo is a simple technique that our agent can use to learn episodic tasks from experience
        rather than needing a model of the environment beforehand. This tutorial will show an agent that
        can learn blackjack, and will focus on the intuition behind the learning technique rather than
        a technical or mathematical dive into the monte carlo method itself.
    </p>
</div>